.workspace-indicator-class .workspace-thumbnail {
    /* make workspace thumbnails slightly smaller so more previews fit */
    min-width: 70px;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.504);
    /* border-radius: 8px; */
    box-shadow: inset 0 0 4px 2px #268bd2;
}

.workspace-indicator-class .workspace-thumbnail.active {
    /* highlight color */
	/* background-color: #2aa198;
    background-color: rgba(42, 161, 152, 0.15); */
    background-color: rgba(42, 161, 152, 0.50);
    /* background-color: rgba(42, 161, 152, 0.50);
    background-color: rgba(42, 161, 152, 1); */
}

/* .workspace-indicator .workspace-thumbnail:hover {
    background-color: rgba(38, 139, 210, 0.50)
} */