.workspace-indicator-class .workspace-thumbnail {
    /* make workspace thumbnails slightly smaller so more previews fit */
    min-width: 50px;
    height: 100%;
    padding: 10px;
    background-color: rgba(10, 10, 10, 0.504);
    /* border-radius: 8px; */
    box-shadow: inset 0 0 4px 2px #268bd2;
}

.workspace-indicator-class .workspace-thumbnail.active {
    /* highlight color */
	/* background-color: #2aa198;
    background-color: rgba(42, 161, 152, 0.15); */
    background-color: rgba(42, 161, 152, 0.50);
    /* background-color: rgba(42, 161, 152, 0.50);
    background-color: rgba(42, 161, 152, 1); */
}

/* .workspace-indicator .workspace-thumbnail:hover {
    background-color: rgba(38, 139, 210, 0.50)
} */

.hover-preview-wrapper {
    border: 4px solid #268bd2;
    background-color: #268bd2;
    border-radius: 8px;
}

.workspace-name-label {
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
}

.hover-title-popup {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 16pt;
}

/* .workspace-thumbnail.large-thumbnail {
    min-width: 70px;
}

.workspace-thumbnail.medium-thumbnail {
    min-width: 50px;
}

.workspace-thumbnail.small-thumbnail {
    min-width: 30px;
}

.workspace-thumbnail.small-thumbnail .window-preview {
    min-width: 32px;
}

.workspace-thumbnail.medium-thumbnail .window-preview {
    min-width: 40px;
}

.workspace-thumbnail.large-thumbnail .window-preview {
    min-width: 50px;
}

.workspace-thumbnail.active {
    background-color: rgba(255, 255, 255, 0.15);
} */

/* .workspace-context-menu .popup-menu-item {
  font-size: 16pt !important;
  padding: 10px 15px !important;
} */

.workspace-context-menu .popup-menu-item StLabel {
  font-size: 16pt !important;
}